.App {
  top: 0;
  bottom: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  /*min-height: 490px;*/
}

.welcome{
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 2px HSL(207, 44%, 49%);
  min-width: 360px;
  justify-content: space-around;
  height: 200px;
  text-align: center;
  display: flex;
}

a { 
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid HSL(207, 44%, 49%);
  transition: 200ms ease;
}

a:hover {
  border-bottom-color: HSL(207, 44%, 79%);
}

.text-c {
  text-align: center;
}