.post-title {
  width: 40vw;
  min-width: 400px;
}

.graph-page {
  margin: 90px 0 0 0;
  justify-content: space-between;
}

.graph-titles {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 35px;
  padding: 0 50px
}

.graph {
  width: 100%;
  display: flex;
  justify-content: center;
}

.graph-options-container {
  display: flex;
  width: 30vw;
  min-width: 400px;
  justify-content: space-between;
  padding: 0 50px;
}
